<ion-header class="ion-no-border">
  <ion-toolbar class="header-toolbar">
    <div class="header-content">
      <!-- Profile Section -->
      <div class="profile-section" (click)="navigateToProfile()">
        <img 
          *ngIf="!isLoading"
          [src]="profile_picture" 
          alt="Profile Picture" 
          class="profile-image" />
        <ion-skeleton-text *ngIf="isLoading" animated class="profile-skeleton"></ion-skeleton-text>
      </div>

      <!-- Notifications -->
      <div class="icon-section" (click)="navigateToNotifications()">
        <ion-icon *ngIf="!isLoading" name="documents-outline" class="notification-icon"></ion-icon>
        <ion-skeleton-text *ngIf="isLoading" animated class="notification-skeleton"></ion-skeleton-text>
        <div class="notification-badge" *ngIf="!isLoading"> </div>
        <ion-skeleton-text *ngIf="isLoading" animated class="notification-badge-skeleton"></ion-skeleton-text>
      </div>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- Welcome Card -->
  <ion-card class="welcome-card">
    <ion-card-header>
      <ion-card-title>
        <ion-skeleton-text *ngIf="isLoading" animated class="greeting-skeleton"></ion-skeleton-text>
        <span *ngIf="!isLoading">{{ greeting }}</span>
      </ion-card-title>
      <ion-card-subtitle>
        <ion-skeleton-text *ngIf="isLoading" animated class="surname-skeleton"></ion-skeleton-text>
        <span *ngIf="!isLoading">{{ username }}</span>
      </ion-card-subtitle>
    </ion-card-header>
  </ion-card>

  <!-- Task Options -->
  <ion-card class="task-options-card">
    <ion-row class="tagline">
      <ion-col>
        <ion-label>
          <ion-text>
            <ion-skeleton-text *ngIf="isLoading" animated style="width: 120px; height: 20px; border-radius: 10px;"></ion-skeleton-text>
            <span *ngIf="!isLoading">Plan your day</span>
          </ion-text>
          <p style="margin-top: 7px;">
            <ion-text>
              <ion-skeleton-text *ngIf="isLoading" animated style="width: 90px; height: 20px; border-radius: 10px;"></ion-skeleton-text>
              <span *ngIf="!isLoading">& Tasks</span>
            </ion-text>
          </p>
        </ion-label>
      </ion-col>
    </ion-row>

    <ion-grid>
      <ion-row>
        <ion-col size="4" *ngFor="let task of taskOptions">
          <div class="option-square" *ngIf="!isLoading" (click)="task.action()">
            <ion-icon [name]="task.icon" class="option-icon"></ion-icon>
            <p class="option-text">{{ task.label }}</p>
          </div>
          <ion-skeleton-text *ngIf="isLoading" animated class="option-skeleton"></ion-skeleton-text>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>





  <!-- Birthday Card Skeleton Loader -->
  <div *ngIf="isLoading">
    <ion-card class="birthday-card" *ngIf="hasBirthday && !isBirthdayToday">
      <ion-card-header>
        <ion-card-title><ion-skeleton-text animated style="width: 90px; height: 20px; border-radius: 10px;" class="skeleton-style"></ion-skeleton-text></ion-card-title>
        <ion-card-subtitle><ion-skeleton-text animated style="width: 40px; height: 8px; border-radius: 10px;" class="skeleton-style"></ion-skeleton-text></ion-card-subtitle>
      </ion-card-header>

      <ion-card-content>
        <div class="location-DaysLeft">
          <h4><ion-skeleton-text animated style="width: 150px; height: 8px; border-radius: 10px;" class="skeleton-style"></ion-skeleton-text></h4>
          <h4><ion-skeleton-text animated style="width: 100px; height: 8px; border-radius: 10px;" class="skeleton-style"></ion-skeleton-text></h4>
        </div>
      </ion-card-content>
    </ion-card>
  </div>
  <!-- Birthday Card -->
  <div *ngIf="!isLoading">
    <!-- Regular Birthday Card -->
    <ion-card class="birthday-card" *ngIf="hasBirthday && !isBirthdayToday" (click)="openViewBirthdayModal()">
      <ion-card-header>
        <ion-card-title>My Birthday</ion-card-title>
        <ion-card-subtitle>{{ birthdayDate | date: 'd MMMM' }}</ion-card-subtitle>
      </ion-card-header>

      <ion-card-content>
        <div class="location-DaysLeft">
          <h4>📍 {{ birthdayLocation.length > 20 ? (birthdayLocation | slice:0:20) + ' ...' : birthdayLocation }}</h4>
          <h4>📆 {{ timeLeft }}</h4> <!-- Use the timeLeft property -->
        </div>
      </ion-card-content>
    </ion-card>
  </div>


  <!--Special birthday card skeleton-->
  <div *ngIf="isLoading">
    <ion-card class="special-birthday-card" *ngIf="isBirthdayToday">
      <!--<ion-card-header>
        <ion-card-title><ion-skeleton-text animated style="width: 90px; height: 20px; border-radius: 10px;" class="skeleton-style"></ion-skeleton-text></ion-card-title>
        <ion-card-subtitle><ion-skeleton-text animated style="width: 40px; height: 8px; border-radius: 10px;" class="skeleton-style"></ion-skeleton-text></ion-card-subtitle>
      </ion-card-header>

      <ion-card-content>
        <div class="birthday-message" style="align-items: center; text-align: center;">
          <p>
            <ion-skeleton-text animated style="width: 100%; height: 8px; border-radius: 10px;" class="skeleton-style"></ion-skeleton-text>
            <ion-skeleton-text animated style="width: 100%; height: 8px; border-radius: 10px;" class="skeleton-style"></ion-skeleton-text>
          </p>
          <p>
            <ion-skeleton-text animated style="width: 50%; height: 8px; border-radius: 10px;" class="skeleton-style"></ion-skeleton-text>
          </p>
        </div>
      </ion-card-content>-->
    </ion-card>
  </div>
  <!-- Special Birthday Card (Visible Only on Birthday) -->
  <div *ngIf="!isLoading">
    <ion-card class="special-birthday-card" *ngIf="isBirthdayToday">
      <ion-card-header>
        <ion-card-title>🎉 Happy Birthday!🎉</ion-card-title>
        <ion-card-subtitle>{{ birthdayDate | date: 'd MMMM' }} | Your special day {{ username }}</ion-card-subtitle>
      </ion-card-header>

      <ion-card-content>
        <div class="birthday-message">
          <p>❝ {{ birthdayWish }} ❞</p>
          <p [ngClass]="{'scrolling-location': birthdayLocation.length > 20}">
            <span [style.animation-duration]="getScrollDuration(birthdayLocation) + 's'">📍 {{ birthdayLocation }}</span>
            <span [style.animation-duration]="getScrollDuration(birthdayLocation) + 's'">📍 {{ birthdayLocation }}</span>
          </p>
        </div>
      </ion-card-content>
    </ion-card>
  </div>

  <!-- View/Edit Birthday Modal -->
  <ion-modal #viewBirthdayModal>
    <ng-template>
      <ion-header class="ion-no-border">
        <ion-toolbar>
          <ion-title>My Birthday</ion-title>
          <ion-buttons slot="end">
            <ion-button class="custom-cancel" (click)="closeViewBirthdayModal()">
              <ion-icon name="close-outline"></ion-icon>
            </ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>

      <ion-content class="ion-padding">
        <!-- Display Birthday Details -->
        <ion-item lines="none" style="margin-bottom: 5px;">
          <ion-datetime [(ngModel)]="birthdayDate" presentation="date"></ion-datetime>
        </ion-item>

        <ion-item lines="none" class="viewEdit-birthdayWish">
          <ion-label position="stacked">🫧 My Birthday wish</ion-label>
          <ion-textarea 
            [(ngModel)]="birthdayWish"
            [autoGrow]="true"
            placeholder="🎂 Your special wish..."
          ></ion-textarea>
        </ion-item>

        <ion-item lines="none" class="viewEdit-birthdayLocation">
          <ion-label position="stacked">📍 My Birthday location</ion-label>
          <ion-textarea
            [(ngModel)]="birthdayLocation"
            [autoGrow]="true"
            type="text"
            placeholder="Enter birthday location"
            (ionInput)="searchLocation($event)"
          ></ion-textarea>
        </ion-item>

        <!-- Display Location Suggestions -->
        <ion-list lines="none" *ngIf="locationSuggestions.length > 0">
          <ion-item
            *ngFor="let location of locationSuggestions"
            (click)="selectLocation(location)"
            class="location-list"
          >
            <ion-label>
              <h3>{{ location.display_name }}</h3>
            </ion-label>
          </ion-item>
        </ion-list>

        <ion-item lines="none" class="Repeat-birthday">
          <ion-label>Repeat Every Year</ion-label>
          <ion-toggle slot="end" [(ngModel)]="repeatYearly"></ion-toggle>
        </ion-item>

        <!-- Save Changes Button -->
        <div class="btn-container">
          <ion-button class="Birthday-button" expand="block" color="primary" (click)="updateBirthday()">Save Changes ➜</ion-button>
        </div>
      </ion-content>
    </ng-template>
  </ion-modal>



  <!--Button to open modal to add birthday-->
  <ion-fab slot="fixed" vertical="bottom" horizontal="end" *ngIf="!hasBirthday">
    <ion-fab-button class="custom-fab" (click)="openModal()">
      <img src="../../assets/images/birthday/Happy-birthday-3.jpg" alt="Custom Image" style="width: 100%; height: 100%; border-radius: 50%;">
    </ion-fab-button>
  </ion-fab>
  
  <!-- Add Birthday Modal -->
  <ion-modal #modal>
    <ng-template>
      <ion-header class="ion-no-border">
        <ion-toolbar>
          <ion-title>Add Your Birthday</ion-title>
          <ion-buttons slot="end">
            <ion-button class="custom-cancel" (click)="closeModal()">
              <ion-icon name="close-outline"></ion-icon>
            </ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
  
      <ion-content class="ion-padding">
        <ion-item lines="none">
          <ion-datetime [(ngModel)]="birthdayDate" presentation="date"></ion-datetime>
        </ion-item>

        <ion-list lines="none">
          <ion-item class="birthday-wish">
            <ion-label position="stacked">Write a Birthday Wish</ion-label>
            <ion-textarea [(ngModel)]="birthdayWish" [autoGrow]="true" placeholder="🎂 Your special wish..."></ion-textarea>
          </ion-item>

          <!-- Birthday Location Input with Autocomplete -->
          <ion-item class="location-input">
            <ion-icon name="location-outline" slot="start"></ion-icon>
            <ion-input
              [(ngModel)]="birthdayLocation"
              type="text"
              placeholder="Enter birthday location"
              (ionInput)="searchLocation($event)"
            ></ion-input>
          </ion-item>

          <!-- Display Location Suggestions -->
          <ion-list *ngIf="locationSuggestions.length > 0">
            <ion-item
              *ngFor="let location of locationSuggestions"
              (click)="selectLocation(location)"
              class="location-list"
            >
              <ion-label>
                <h3>{{ location.display_name }}</h3>
              </ion-label>
            </ion-item>
          </ion-list>

          <!-- Repeat Birthday Reminder Toggle -->
          <ion-item lines="none" class="Repeat-birthday">
            <ion-label>Repeat Every Year</ion-label>
            <ion-toggle slot="end" [(ngModel)]="repeatYearly"></ion-toggle>
          </ion-item>
        </ion-list>
  
        <div class="btn-container">
          <ion-button class="Birthday-button" expand="block" color="primary" (click)="saveBirthday()">Save Birthday ➜</ion-button>
        </div>
      </ion-content>
    </ng-template>
  </ion-modal>
  
  

</ion-content>