<ion-header class="ion-no-border" [translucent]="true">

  <ion-toolbar *ngIf="isLoading" class="skeleton-loader">
    <ion-buttons slot="start">
      <ion-skeleton-text animated style="width: 50px; height: 50px; border-radius: 10px; margin-left: 5px;" class="skeleton-style"></ion-skeleton-text>
    </ion-buttons>
    <ion-title>
      <ion-skeleton-text animated style="width: 120px; height: 20px; border-radius: 10px;" class="skeleton-style"></ion-skeleton-text>
    </ion-title>
    <ion-buttons slot="end">
      <ion-skeleton-text animated style="width: 50px; height: 50px; border-radius: 10px; margin-right: 5px;" class="skeleton-style"></ion-skeleton-text>
    </ion-buttons>
  </ion-toolbar>

  <ion-toolbar *ngIf="!isLoading">
    <ion-buttons slot="start">
      <ion-back-button class="custom-back-button" default-href="#">
        <ion-icon name="chevron-back-outline"></ion-icon>
      </ion-back-button>
    </ion-buttons>

    <ion-title>Analytics</ion-title>

    <ion-buttons slot="end">
      <ion-button class="search-icon">
        <ion-icon slot="icon-only" name="analytics-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <!-- Skeleton Loader -->
  <div *ngIf="isLoading">
    <ion-card class="card">
      <ion-card-header>
        <ion-card-title>
          <ion-skeleton-text animated style="width: 40%; height: 20px; border-radius: 10px;" class="skeleton-style"></ion-skeleton-text>
        </ion-card-title>
        <ion-card-subtitle>
          <ion-label>
            <ion-skeleton-text animated style="width: 110px; height: 15px; border-radius: 10px;" class="skeleton-style"></ion-skeleton-text>
          </ion-label>
          <ion-note>
            <ion-skeleton-text animated style="width: 40px; height: 20px; border-radius: 10px;" class="skeleton-style"></ion-skeleton-text>
          </ion-note>
        </ion-card-subtitle>
      </ion-card-header>     
      <ion-grid>
        <ion-row>
          <!-- Pending Rate -->
          <ion-col size="6">
            <ion-skeleton-text animated style="width: 100%; height: 80px; border-radius: 10px;" class="skeleton-style"></ion-skeleton-text>
          </ion-col> 
          <!-- Completion Rate -->
          <ion-col size="6">
            <ion-skeleton-text animated style="width: 100%; height: 80px; border-radius: 10px;" class="skeleton-style"></ion-skeleton-text>
          </ion-col> 
          <!-- Incomplete Rate -->
          <ion-col size="6">
            <ion-skeleton-text animated style="width: 100%; height: 80px; border-radius: 10px;" class="skeleton-style"></ion-skeleton-text>
          </ion-col>  
          <!-- Cancellation Rate -->
          <ion-col size="6">
            <ion-skeleton-text animated style="width: 100%; height: 80px; border-radius: 10px;" class="skeleton-style"></ion-skeleton-text>
          </ion-col>
        </ion-row>
      </ion-grid>
      <ion-card-content>
        <ion-skeleton-text animated style="width: 100%; height: 40px; border-radius: 10px;" class="skeleton-style"></ion-skeleton-text>
      </ion-card-content>
    </ion-card>
  </div>

  <div *ngIf="isLoading">
    <ion-card class="card">
      <ion-card-header>
        <ion-card-title>
          <ion-skeleton-text animated style="width: 40%; height: 20px; border-radius: 10px;" class="skeleton-style"></ion-skeleton-text>
        </ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <canvas>
          <ion-skeleton-text animated ></ion-skeleton-text>
        </canvas> 
        <!-- Chart Type Selector -->
        <ion-item style="margin-top: 15px; border-radius: 7px; --background: transparent;" lines="none">
          <ion-skeleton-text animated style="width: 100%; height: 100%; border-radius: 10px;" class="skeleton-style"></ion-skeleton-text>
        </ion-item>
      </ion-card-content>
    </ion-card>
  </div>

  <div *ngIf="isLoading">
    <ion-card class="card">
      <ion-card-header>
        <ion-card-title>
          <ion-skeleton-text animated style="width: 40%; height: 20px; border-radius: 10px;" class="skeleton-style"></ion-skeleton-text>
        </ion-card-title>
      </ion-card-header>

      <ion-card-content>
        <!-- High Priority Tasks -->
        <ion-item lines="none" class="priority-item">
          <ion-note slot="start">
            <ion-skeleton-text animated style="width: 30px; height: 20px; border-radius: 10px;" class="skeleton-style"></ion-skeleton-text>
          </ion-note>
          <ion-label>
            <ion-skeleton-text animated style="width: 60%; height: 20px; border-radius: 10px;" class="skeleton-style"></ion-skeleton-text>
          </ion-label>
          <ion-note slot="end">
            <ion-skeleton-text animated style="width: 60px; height: 20px; border-radius: 10px;" class="skeleton-style"></ion-skeleton-text>
          </ion-note>
        </ion-item>
        <!-- Medium Priority Tasks -->
        <ion-item lines="none" class="priority-item">
          <ion-note slot="start">
            <ion-skeleton-text animated style="width: 30px; height: 20px; border-radius: 10px;" class="skeleton-style"></ion-skeleton-text>
          </ion-note>
          <ion-label>
            <ion-skeleton-text animated style="width: 60%; height: 20px; border-radius: 10px;" class="skeleton-style"></ion-skeleton-text>
          </ion-label>
          <ion-note slot="end">
            <ion-skeleton-text animated style="width: 60px; height: 20px; border-radius: 10px;" class="skeleton-style"></ion-skeleton-text>
          </ion-note>
        </ion-item>
        <!-- Low Priority Tasks -->
        <ion-item lines="none" class="priority-item">
          <ion-note slot="start">
            <ion-skeleton-text animated style="width: 30px; height: 20px; border-radius: 10px;" class="skeleton-style"></ion-skeleton-text>
          </ion-note>
          <ion-label>
            <ion-skeleton-text animated style="width: 60%; height: 20px; border-radius: 10px;" class="skeleton-style"></ion-skeleton-text>
          </ion-label>
          <ion-note slot="end">
            <ion-skeleton-text animated style="width: 60px; height: 20px; border-radius: 10px;" class="skeleton-style"></ion-skeleton-text>
          </ion-note>
        </ion-item>
  
        <ion-item style="border-radius: 7px; --background: transparent;" lines="none">
          <ion-skeleton-text animated style="width: 100%; height: 100%; border-radius: 10px;" class="skeleton-style"></ion-skeleton-text>
        </ion-item>
      </ion-card-content>
    </ion-card>
  </div>










  <!-- Task Overview Card -->
  <ion-card class="card" *ngIf="!isLoading">
    <ion-card-header>
      <ion-card-title>Task Overview</ion-card-title>
      <ion-card-subtitle>
        <ion-label>Total Tasks</ion-label>
        <ion-note>{{ totalTasks }}</ion-note>
      </ion-card-subtitle>
    </ion-card-header>

    <ion-grid>
      <ion-row>
        <!-- Pending Rate -->
        <ion-col size="6">
          <div class="option-square">
            <ion-icon color="medium" name="contrast-outline" class="option-icon"></ion-icon>
            <p class="cat">Pending Rate</p>
            <div class="number-rate">
              <h1>{{ pendingTasks }}</h1> 
              <ion-chip color="medium">
                <ion-label>{{ pendingRate }}%</ion-label>
              </ion-chip>
            </div>
          </div>
        </ion-col>

        <!-- Completion Rate -->
        <ion-col size="6">
          <div class="option-square">
            <ion-icon color="success" name="checkmark-done-circle-outline" class="option-icon"></ion-icon>
            <p class="cat">Completion Rate</p>
            <div class="number-rate">
              <h1>{{ completedTasks }}</h1> 
              <ion-chip color="success">
                <ion-label>{{ completionRate }}%</ion-label>
              </ion-chip>
            </div>
          </div>
        </ion-col>

        <!-- Incomplete Rate -->
        <ion-col size="6">
          <div class="option-square">
            <ion-icon color="warning" name="warning-outline" class="option-icon"></ion-icon>
            <p class="cat">Incomplete Rate</p>
            <div class="number-rate">
              <h1>{{ incompleteTasks }}</h1> 
              <ion-chip color="warning">
                <ion-label>{{ incompleteRate }}%</ion-label>
              </ion-chip>
            </div>
          </div>
        </ion-col>

        <!-- Cancellation Rate -->
        <ion-col size="6">
          <div class="option-square">
            <ion-icon color="danger" name="close-circle-outline" class="option-icon"></ion-icon>
            <p class="cat">Cancellation Rate</p>
            <div class="number-rate">
              <h1>{{ cancelledTasks }}</h1> 
              <ion-chip color="danger">
                <ion-label>{{ cancellationRate }}%</ion-label>
              </ion-chip>
            </div>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-card-content>
      <ion-item style="border-radius: 7px;" lines="none">
        <ion-label>Average Time to Complete</ion-label>
        <ion-note slot="end">{{ averageTimeToComplete }}</ion-note>
      </ion-item>
    </ion-card-content>
  </ion-card>

  <!-- Chart displaying task stats -->
  <ion-card class="card" *ngIf="!isLoading">
    <ion-card-header>
      <ion-card-title>Task Status</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <canvas id="taskChart"></canvas>  <!-- The chart will be displayed here -->

      <!-- Chart Type Selector -->
      <ion-item style="margin-top: 15px; border-radius: 7px;" lines="none">
        <ion-label>Choose Chart Type</ion-label>
        <ion-select interface="popover" justify="end" [(ngModel)]="chartType" (ionChange)="changeChartType($event.detail.value)">
          <ion-select-option value="doughnut">Doughnut</ion-select-option>
          <ion-select-option value="pie">Pie</ion-select-option>
          <ion-select-option value="bar">Bar</ion-select-option>
          <ion-select-option value="line">Line</ion-select-option>
        </ion-select>
      </ion-item>
    </ion-card-content>
  </ion-card>

  <!-- Task Priority Card -->
  <ion-card class="card" style="box-shadow: none !important;" *ngIf="!isLoading">
    <ion-card-header>
      <ion-card-title>Task Priority</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <!-- High Priority Tasks -->
      <ion-item lines="none" class="priority-item">
        <ion-icon slot="start" style="color: #f44336;" name="ellipse-outline"></ion-icon>
        <ion-label>High Priority Tasks</ion-label>
        <ion-note slot="end">{{ highPriorityTasks }} | {{ highRate }}%</ion-note>
      </ion-item>
      <!-- Medium Priority Tasks -->
      <ion-item lines="none" class="priority-item">
        <ion-icon slot="start" style="color: #ff9800;" name="ellipse-outline"></ion-icon>
        <ion-label>Medium Priority Tasks</ion-label>
        <ion-note slot="end">{{ mediumPriorityTasks }} | {{ mediumRate }}%</ion-note>
      </ion-item>
      <!-- Low Priority Tasks -->
      <ion-item lines="none" class="priority-item">
        <ion-icon slot="start" style="color: #4caf50;" name="ellipse-outline"></ion-icon>
        <ion-label>Low Priority Tasks</ion-label>
        <ion-note slot="end">{{ LowPriorityTasks }} | {{ lowRate }}%</ion-note>
      </ion-item>

      <ion-item style="border-radius: 7px;" lines="none">
        <ion-label>Most Prioritized</ion-label>
        <ion-note slot="end">{{ mostPrioritized }}</ion-note>
      </ion-item>
    </ion-card-content>
  </ion-card>

</ion-content>