ion-header {
    ion-toolbar {
      font-weight: bold;
      box-shadow: none;
      --background: var(--ion-bg-color);
      --color: var(--ion-tx-color);
    }
  }
  ion-content {
    --background: var(--ion-bg-color);
    --color: var(--ion-tx-color);
  }
  
  .custom-back-button {
    --border-radius: 10px !important;
    --background: var(--plug-cards-bg);
    --color: var(--ion-top-icons-color);
    margin-left: 5px;
  
    .button-native {
      border-radius: 10px !important;
      width: 40px;
      height: 40px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  
    .button-inner {
      border-radius: 0 !important;
    }
  
    .button-effect {
      border-radius: 0 !important;
    }
  }

  .chip-container {
    display: flex;
    overflow-x: auto;
    white-space: nowrap;
    padding: 10px 0;
    height: auto;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 10;
    background: var(--ion-bg-color);
  } 
  .chip-container ion-chip {
    flex: 0 0 auto;
    margin-right: 10px;
  } 
  .custom-chip {
    background: var(--chip-container-bg);
    --color: var(--ion-tx-color);
    box-shadow: none !important;
    font-weight: 500;
  }
  .custom-chip ion-label span{
    color: var(--ion-color-success);
  }
  .custom-chip ion-icon{
    color: var(--ion-color-success);
  }
  ion-label .icons{
    font-weight: bold !important;
  }

  .selected-chip {
    background: var(--plug-card-bg) !important;
    --color: #fff !important;
  }
  
  .selected-chip .chip-icon,
  .selected-chip .chip-label {
    color: #fff !important;
  }

  ion-list{
    background-color: var(--ion-bg-color);
    color: gray;
    margin-bottom: 30px;
  }
  ion-list ion-item{
    --background: #fff;
    display: flex;
    align-items: flex-start;
    margin-bottom: 5px;
  }
  ion-item ion-icon{
    color: var(--ion-color-primary);
    font-size: 2rem;
  }
  ion-label {
    flex: 1;
  }
  ion-item h4{
    color: var(--ion-tx-color);
    font-size: 0.7rem;
    font-weight: 900;
  }
  ion-item h3{
    color: var(--ion-tx-color);
    font-weight: 900;
  }
  ion-item p{
    font-size: 0.7rem;
    font-weight: 500;
    color: #666;
  }
  .chip {
    background: #fff;
    --color: var(--ion-tx-color);
    box-shadow: none;
    font-weight: 500;
    border: 2px solid var(--ion-color-primary);
  }

  ion-label div{
    margin-top: 5px;
  }
  ion-content ion-list ion-item p span{
    color: #000;
    font-weight: 700;
    margin-top: 5px;
  }

  .live {
    display: inline-block;
    width: 7px;
    height: 7px;
    background-color: var(--ion-color-success);
    border-radius: 50%;
    animation: blink 1s infinite;
    margin-top: 10px;
  }
  
  @keyframes blink {
    0%, 100% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
  }

  .no-task-message {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    text-align: center;
    color: var(--ion-color-medium);
  }
  
  .no-task-message h3 {
    font-size: 1.2rem;
    font-weight: bold;
    margin-top: 50%;
  }