/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

/**
 * Ionic Dark Mode
 * -----------------------------------------------------
 * For more info, please see:
 * https://ionicframework.com/docs/theming/dark-mode
 */

/* @import "@ionic/angular/css/palettes/dark.always.css"; */
/* @import "@ionic/angular/css/palettes/dark.class.css"; */
@import "@ionic/angular/css/palettes/dark.system.css";

.custom-alert {
  --background: var(--ion-bg-color);
  --width: 90%;
  --max-width: 400px;
}
.custom-alert {
  .alert-wrapper {
    .alert-head {
      padding-bottom: 8px;
      h2 {
          color: #000;
          font-weight: 700;
      }
    }
  }
}
.custom-alert .cancel-buttons{
  color: var(--ion-color-danger);
  border-radius: 10px;
  text-transform: none;
  font-weight: 500;
}
.custom-alert .buttons{
  color: var(--plug-card-bg);
  border-radius: 10px;
  text-transform: none;
  font-weight: 500;
}
.custom-alert {
  .alert-wrapper {
    .alert-message {
      color: #000;
      font-size: 16px;
      font-weight: 400;
      margin-bottom: 7px;
    }
  }
}

.custom-action-sheet {
  --background: var(--ion-bg-color);
  --border-radius: 12px;

  .action-sheet-button {
    --color: #374151;
    font-size: 16px;
    font-weight: bold;
    border-radius: 8px;
    margin: 4px 0;
    padding: 12px;
  }

  .action-sheet-button-cancel {
    --color: var(--ion-color-danger);
  }

  ion-icon {
    font-size: 20px;
    margin-right: 8px;
  }
}
.custom-action-sheet .action-sheet-title {
  color: #000;
  font-weight: 700;
}
.custom-action-sheet .action-sheet-button,
.custom-action-sheet .action-sheet-button.ion-focused {
  color: #000000;
  font-weight: 500;
}
.custom-action-sheet .action-sheet-cancel {
  color: var(--ion-color-danger);
}