// For information on how to create your own theme, please see:
// http://ionicframework.com/docs/theming/

/** Ionic CSS Variables **/
:root {
    /** primary **/
    --ion-color-primary: #A13FE7;
    --ion-color-primary-rgb: 75, 0, 130;
    --ion-color-primary-contrast: #ffffff;
    --ion-color-primary-contrast-rgb: 255, 255, 255;
    --ion-color-primary-shade: #080538;
    --ion-color-primary-tint: #5a19a0;

    /** secondary **/
    --ion-color-secondary: #3dc2ff;
    --ion-color-secondary-rgb: 61, 194, 255;
    --ion-color-secondary-contrast: #ffffff;
    --ion-color-secondary-contrast-rgb: 255, 255, 255;
    --ion-color-secondary-shade: #36abe0;
    --ion-color-secondary-tint: #50c8ff;

    /** tertiary **/
    --ion-color-tertiary: #5260ff;
    --ion-color-tertiary-rgb: 82, 96, 255;
    --ion-color-tertiary-contrast: #ffffff;
    --ion-color-tertiary-contrast-rgb: 255, 255, 255;
    --ion-color-tertiary-shade: #4854e0;
    --ion-color-tertiary-tint: #6370ff;

    /** success **/
    --ion-color-success: #12e44a; /* Bright Green */
    --ion-color-success-rgb: 18, 228, 74;
    --ion-color-success-contrast: #ffffff;
    --ion-color-success-contrast-rgb: 255, 255, 255;
    --ion-color-success-shade: #10c43e;
    --ion-color-success-tint: #2ded5d;

    /** warning **/
    --ion-color-warning: #ffc409;
    --ion-color-warning-rgb: 255, 196, 9;
    --ion-color-warning-contrast: #000000;
    --ion-color-warning-contrast-rgb: 0, 0, 0;
    --ion-color-warning-shade: #e0ac08;
    --ion-color-warning-tint: #ffd948;

    /** danger **/
    --ion-color-danger: #c5000f; /* Dark Red */
    --ion-color-danger-rgb: 197, 0, 15;
    --ion-color-danger-contrast: #ffffff;
    --ion-color-danger-contrast-rgb: 255, 255, 255;
    --ion-color-danger-shade: #ac000d;
    --ion-color-danger-tint: #d11a28;

    /** dark **/
    --ion-color-dark: #222428;
    --ion-color-dark-rgb: 34, 36, 40;
    --ion-color-dark-contrast: #ffffff;
    --ion-color-dark-contrast-rgb: 255, 255, 255;
    --ion-color-dark-shade: #1e2023;
    --ion-color-dark-tint: #383a3e;

    /** medium **/
    --ion-color-medium: #92949c;
    --ion-color-medium-rgb: 146, 148, 156;
    --ion-color-medium-contrast: #ffffff;
    --ion-color-medium-contrast-rgb: 255, 255, 255;
    --ion-color-medium-shade: #808289;
    --ion-color-medium-tint: #9d9fa6;

    /** light **/
    --ion-color-light: #f4f5f8;
    --ion-color-light-rgb: 244, 245, 248;
    --ion-color-light-contrast: #000000;
    --ion-color-light-contrast-rgb: 0, 0, 0;
    --ion-color-light-shade: #d7d8da;
    --ion-color-light-tint: #f5f6f9;

    /** chip-container light **/
    --chip-container-bg: #f0f0f0;
    --ion-tab-button-selected: #090542;
    --ion-tab-button-selected-color: #ffffff;
    --plug-card-bg: #A13FE7;
    --plug-cards-bg: #ffffff;
    --card-border: #f0f0f0;
    --ion-top-icons-color: #090542;

    --ion-tab-buttons: #c2c1db;
    --ion-tab-plug-button: #090542;
    --ion-tab-plug-button-color: #ffffff;
    --ion-tab-buttons-color: #090542;

    --ion-send-icon-button: #c2c1db;





    --ion-bg-color: #E5DAEC;
    --ion-tx-color: #000000;
    --ion-avatar-border-color: #f0f0f0;
    --ion-side-bg-color: #ffffff;
    --ion-silected-segment: #080538;
  }
  
  // @media (prefers-color-scheme: dark) {
    /*
     * Dark Colors
     * -------------------------------------------
     */
  
    body.dark {
      --ion-color-primary: #c2c1db; /* Darker Indigo */
      --ion-color-primary-rgb: 90, 25, 160;
      --ion-color-primary-contrast: #ffffff;
      --ion-color-primary-contrast-rgb: 255, 255, 255;
      --ion-color-primary-shade: #2c0f52;
      --ion-color-primary-tint: #6c33b2;

      --ion-color-secondary: #50c8ff;
      --ion-color-secondary-rgb: 80, 200, 255;
      --ion-color-secondary-contrast: #ffffff;
      --ion-color-secondary-contrast-rgb: 255, 255, 255;
      --ion-color-secondary-shade: #46b0e0;
      --ion-color-secondary-tint: #62ceff;

      --ion-color-tertiary: #6a64ff;
      --ion-color-tertiary-rgb: 106, 100, 255;
      --ion-color-tertiary-contrast: #ffffff;
      --ion-color-tertiary-contrast-rgb: 255, 255, 255;
      --ion-color-tertiary-shade: #5d58e0;
      --ion-color-tertiary-tint: #7974ff;

      --ion-color-success: #10c43e; /* Darker Bright Green */
      --ion-color-success-rgb: 16, 196, 62;
      --ion-color-success-contrast: #ffffff;
      --ion-color-success-contrast-rgb: 255, 255, 255;
      --ion-color-success-shade: #0da735;
      --ion-color-success-tint: #29d154;

      --ion-color-warning: #ffd534;
      --ion-color-warning-rgb: 255, 213, 52;
      --ion-color-warning-contrast: #000000;
      --ion-color-warning-contrast-rgb: 0, 0, 0;
      --ion-color-warning-shade: #e0bb2e;
      --ion-color-warning-tint: #ffd948;

      --ion-color-danger: #ac000d; /* Darker Red */
      --ion-color-danger-rgb: 172, 0, 13;
      --ion-color-danger-contrast: #ffffff;
      --ion-color-danger-contrast-rgb: 255, 255, 255;
      --ion-color-danger-shade: #95000b;
      --ion-color-danger-tint: #bd1925;

      --ion-color-dark: #ffffff;
      --ion-color-dark-rgb: 244, 245, 248;
      --ion-color-dark-contrast: #000000;
      --ion-color-dark-contrast-rgb: 0, 0, 0;
      --ion-color-dark-shade: #d7d8da;
      --ion-color-dark-tint: #f5f6f9;

      --ion-color-medium: #989aa2;
      --ion-color-medium-rgb: 152, 154, 162;
      --ion-color-medium-contrast: #000000;
      --ion-color-medium-contrast-rgb: 0, 0, 0;
      --ion-color-medium-shade: #86888f;
      --ion-color-medium-tint: #a2a4ab;

      --ion-color-light: #000000;
      --ion-color-light-rgb: 34, 36, 40;
      --ion-color-light-contrast: #ffffff;
      --ion-color-light-contrast-rgb: 255, 255, 255;
      --ion-color-light-shade: #1e2023;
      --ion-color-light-tint: #383a3e;

      /** chip-container dark **/
      --chip-container-bg: #181818;
      --ion-tab-button-selected: #414141;
      --plug-card-bg: #303030;
      --plug-cards-bg: #303030;
      --card-border: #303030;
      --ion-top-icons-color: #ffffff;



      --ion-tab-plug-button: #c2c1db;
      --ion-tab-plug-button-color: #090542;
      --ion-send-icon-button: #090542;

      --ion-bg-color: #181818;
      --ion-tx-color: #ffffff;
      --ion-avatar-border-color: #181818;
      --ion-side-bg-color: #303030;
      --ion-silected-segment: #414141;
    }
  
    /*
     * iOS Dark Theme
     * -------------------------------------------
     */
  
    .ios body.dark {
      --ion-background-color: #000000;
      --ion-background-color-rgb: 0, 0, 0;
  
      --ion-text-color: #ffffff;
      --ion-text-color-rgb: 255, 255, 255;
  
      --ion-color-step-50: #0d0d0d;
      --ion-color-step-100: #1a1a1a;
      --ion-color-step-150: #262626;
      --ion-color-step-200: #333333;
      --ion-color-step-250: #404040;
      --ion-color-step-300: #4d4d4d;
      --ion-color-step-350: #595959;
      --ion-color-step-400: #666666;
      --ion-color-step-450: #737373;
      --ion-color-step-500: #808080;
      --ion-color-step-550: #8c8c8c;
      --ion-color-step-600: #999999;
      --ion-color-step-650: #a6a6a6;
      --ion-color-step-700: #b3b3b3;
      --ion-color-step-750: #bfbfbf;
      --ion-color-step-800: #cccccc;
      --ion-color-step-850: #d9d9d9;
      --ion-color-step-900: #e6e6e6;
      --ion-color-step-950: #f2f2f2;
  
      --ion-item-background: #1c1c1d;
      --ion-item-background-activated: #313132;



      --ion-tab-plug-button: #c2c1db;
      --ion-tab-plug-button-color: #090542;
      --ion-send-icon-button: #090542;

      --ion-bg-color: #181818;
      --ion-tx-color: #ffffff;
      --ion-avatar-border-color: #181818;
      --ion-top-icons-color: #ffffff;
      --ion-side-bg-color: #303030;
      --ion-silected-segment: #414141;
    }
  
    /*
     * MD Dark Theme
     * -------------------------------------------
     */
  
    .md body.dark {
      --ion-background-color: #000000;
      --ion-background-color-rgb: 18,18,18;

      --chip-container-bg: #181818;
      --ion-tab-button-selected: #414141;
      --ion-tab-button-selected-color: #ffffff;
      --plug-card-bg: #202020;
      --plug-cards-bg: #303030;
      --card-border: #303030;
      --ion-top-icons-color: #ffffff;
  
      --ion-text-color: #ffffff;
      --ion-text-color-rgb: 255,255,255;
  
      --ion-color-step-50: #1e1e1e;
      --ion-color-step-100: #2a2a2a;
      --ion-color-step-150: #363636;
      --ion-color-step-200: #414141;
      --ion-color-step-250: #4d4d4d;
      --ion-color-step-300: #595959;
      --ion-color-step-350: #656565;
      --ion-color-step-400: #717171;
      --ion-color-step-450: #7d7d7d;
      --ion-color-step-500: #898989;
      --ion-color-step-550: #959595;
      --ion-color-step-600: #a1a1a1;
      --ion-color-step-650: #acacac;
      --ion-color-step-700: #b8b8b8;
      --ion-color-step-750: #c4c4c4;
      --ion-color-step-800: #d0d0d0;
      --ion-color-step-850: #dcdcdc;
      --ion-color-step-900: #e8e8e8;
      --ion-color-step-950: #f3f3f3;
  
      --ion-item-background: #1f1f1f;
      --ion-item-background-activated: #383838;




      --ion-tab-plug-button: #c2c1db;
      --ion-tab-plug-button-color: #090542;
      --ion-send-icon-button: #090542;

      --ion-bg-color: #181818;
      --ion-tx-color: #ffffff;
      --ion-avatar-border-color: #181818;
      --ion-side-bg-color: #303030;
      --ion-silected-segment: #414141;
    }
  //}

  ion-title {
    font-weight: 500;
    font-size: 1em;
    color: #000;
  }